<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}Terms{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block content %}
            {% block main %}
                <h1>Terms</h1>
            {% endblock %}

            {% block form %}
                {{ form(form) }}
            {% endblock %}
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
