<h1>{{ 'Terms and conditions'|trans }}</h1>

<p>
    See <a href="https://github.com/itk-dev/terms-bundle/blob/4.x/README.md#displaying-terms-and-conditions">Displaying terms and conditions</a>
    for details on how to show your terms and condition.
</p>
